/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 43px;
	background: #3c3c3c;
}

.adminmenu, .logout {
    padding: 13px 0;
    float: left;
    margin-left: 85px;
}

.adminmenu li *, .logout {
    color: white;
}

.adminmenu a {
    font-style: italic;
}

.adminmenu ul {
    margin-left: 10px;
}

.adminmenu li {
    display: inline-block;
    font-size: 14px;
}

.adminmenu .separator {
    width: auto;
    margin: 0 20px;
}

.headeravtomonlogo {
    margin-left: 10px;
    font-size: 35px;
    font-weight: bold;
    float: left;
}

.headeravtomonlogo a {
    color: #98CC31;
}

.logout {
    font-weight: bold;
}

hr {
    margin: 10px 0;
}


/* Middle
-----------------------------------------------------------------------------*/
.content {
    margin: 0 10px;
}

.options {
    padding-top: 3px;
    float: right;
}

h2 {
    float: left;
    width: 80%;
}

.options span {
    display: inline-block;
    height: 16px;
    margin-right: 10px;
}

.options span.save {
    background: url("../icons/admin/save.png");
    width: 25px;
}

.options span.clear {
    background: url("../icons/admin/clear.png");
    width: 19px;
}

.options span.delete {
    background: url("../icons/admin/delete.png");
    width: 16px;
}

.content table {
    clear: both;
}

table.edit {
    margin-top: 20px;
}

table.edit td:first-child {
    width: 200px;
    vertical-align: top;
}

table.edit input, table.edit textarea, table.edit select {
    width: 400px;
    margin-bottom: 20px;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	height: 100px;
	background: #BFF08E;
}