html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: 'PT Sans Narrow', sans-serif;
    vertical-align: baseline;
    color: #3c3c3c;
}

input, textarea {
    font-family: 'PT Sans Narrow', sans-serif;
    color: #3c3c3c;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.PTSR {
    font-family: 'PT Sans', sans-serif;
}

.redstar {
    color: red;
}

hr {
    height: 1px;
    color: #BCBCBC;
    background-color: #e6e6e6;
    border: none;
}

a {
    color: #333333;
    text-decoration: none
}

a:hover {
    text-decoration: underline;
}

p {
    line-height: 1.5;
}

h3 {
    font-size: 20px;
}

h2 {
    font-weight: bold;
    font-size: 24px;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    color: black;
}

.grad {
    background: linear-gradient(to right, #FFFFFF 0px, #D9D9D9 29px, #FFFFFF 30px, #FFFFFF 1230px, #D9D9D9 1231px, #FFFFFF 1260px);
    background: -webkit-linear-gradient(right, #FFFFFF 0px, #D9D9D9 29px, #FFFFFF 30px, #FFFFFF 1230px, #D9D9D9 1231px, #FFFFFF 1260px);
    width: 1260px;
    margin: auto;
}

.container {
    width: 1200px;
    margin: auto;
}

.underline {
    text-decoration: underline;
}

.no_underline:hover {
    text-decoration: none;
}

.button {
    border: 1px solid black;
    padding: 7px 15px;
    margin-top: 20px;
    float: left;
    cursor: pointer;
}

.content2pathhead {
    text-decoration: underline;
}

.content2path {
    margin: 15px 0 20px;
    color: #666;
}

.content2path span {
    padding-right: 10px;
    font-size: 13px;
}