/*________________________________________________________________BANNER_BEGIN*/
.banner {
    float: left;
    width: 1180px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background: #666666;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.banner img {
    width: 39px;
    height: 39px;
}

.bannertop {
    font-family: 'PT Sans Narrow', sans-serif;
    color: #E1FFA6;
}

.bannertop a {
    color: #E1FFA6 !important;
}

.bannertop span {
    margin-right: 20px;
}

.bannerarrow {
    cursor: pointer;
    padding: 10px;
    vertical-align: middle;
    width: 39px;
}

.bannerarrow > div {
    width: 39px;
    height: 39px;
}

.arrow_left {
    background: url("../icons/arrowleft.png") no-repeat;
}

.arrow_right {
    background: url("../icons/arrowright.png") no-repeat;
}

.arrow_left:hover {
    background: url("../icons/arrowleft_white.png") no-repeat;
}

.arrow_right:hover {
    background: url("../icons/arrowright_white.png") no-repeat;
}

.bannertheme a {
    cursor: pointer;
    font-size: 72px;
    font-weight: bold;
}

.bannermenu {
    margin-top: 63px;
    font-size: 24px;
    display: inline;
    color: #E1FFA6;
}

.bannertextblok {
    padding-top: 20px;
}

.bannertextblok td {
    color: #FFFFFF;
}

.bannertextblok td {
    width: 350px;
    padding-left: 20px;
}

.bannertextblok td:first-child {
    padding-left: 0;
}

/*________________________________________________________________BANNER_END*/
/*______________________________________________________________________________________HEADER_BEGIN*/
.headeravtomonlogo {
    margin-left: 10px;
    font-size: 35px;
    font-weight: bold;
}

.headeravtomonlogo a {
    color: #98CC31;
}

.headersearch {
    padding: 0 60px;
}

.headersearch input {
    width: 585px;
}

.mainmenu {
    font-size: 16px;
}

.separator {
    width: auto;
    margin: 0 10px;
}

.headerflag {
    float: right;
    margin-right: 10px;
    position: relative;
    top: 8px;
}

.headermenu {
    background: linear-gradient(to top, #E6E6E6 0%, #FFFFFF 50%, #E6E6E6 100%);
    background: -webkit-linear-gradient(top, #E6E6E6 0%, #FFFFFF 50%, #E6E6E6 100%);
    padding: 12px 0 8px;
}

.headermenu ul {
    margin-left: 10px;
}

.headermenu li {
    display: inline-block;
    margin-right: 70px;
    font-size: 16px;
}

.headermenu img {
    width: 24px;
    height: 24px;
    padding-right: 10px;
    float: left;
    margin-top: -3px;
}

/*______________________________________________________________________________________HEADER_END*/
/*__________________________________________________________________________________________CONTENT_BEGIN*/
.content {
    float: left;
    margin: 10px 0 50px;
}

.contenttop div {
    margin-left: 10px;
    float: left;
    width: 450px;
}

.contenttop2 {
    margin-top: 40px;
}

.contenttop2 div {
    float: left;
}

.contenttop2 a {
    color: #333333;
}

div.contenttop2tags li {
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 5px;

}

div.contenttop2tags {
    background: #e1ffa6;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 25px;
    padding: 7px 0 5px;
    width: 420px;
    float: left;
}

.contenttop2tags img {
    float: left;
    height: 28px;
    margin: auto 10px;
    width: 28px;
}

.contenttop2rss {
    float: right !important;
    margin-top: -45px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 50px;
    width: 240px;
}

.contenttop2rssimg {
    margin-right: 10px;
    float: left;
    width: 97px;
    height: 97px;
}

.contenttop2rssul {
    padding-top: 60px;
    display: inline-block;
}

.contenttop2rssul li {
    padding-left: 25px;
}

.contenttop2rssul span {
    font-size: 14px;
}

.contenttop2rssul img {
    margin-right: 8px;
    width: 8px;
    height: 8px;
}

.contentarticles {
    margin-left: 20px;
    margin-top: 130px;
}

.contentarticles > div:first-child {
    margin-right: 50px;
}

.contentarticles > div {
    width: 405px;
    float: left;
}

.contentarticles p {
    margin-top: 10px;
    margin-bottom: 10px;
    /*width:370px;*/
}

.contentarticles img {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

/*__________________________________________________________________________________________CONTENT_END*/
/*__________________________________________________________________________________________CONTENT2_BEGIN*/
.content2 {
    clear: both;
    float: left;
    width: 890px;
    margin-left: 10px;
}

.content2blockarticle {
    padding: 20px 10px;
}

.content2jobsdiv {
    width: 890px;
}

.content2jobsdiv p {
    margin-left: 10px;
    margin-top: 20px;
    width: 367px;
    height: 145px;
}

.content2articleimg {
    width: 22px;
    height: 22px;
    margin-right: 5px;
}

.content2nizarticle {
    margin-top: 20px;
}

.content2commentlinks {
    margin-top: 20px;
}

.content2commentlinks h2 {
    margin-bottom: 20px;
}

.content2commentlinks a {
    color: #333333;
}

.content2commentlinks img {
    width: 14px;
    height: 14px;
    margin-right: 5px;
    margin-bottom: -2px;
}

.content2headcommentlinks {
    font-weight: bold;
}

.content2cherta {
    padding-left: 20px;
    padding-right: 20px;
}

.content2comment div {
    margin-left: 10px;
}

.content2commentlinks, .content2comment {
    margin-left: 10px;
}

.content2comment span {
    margin-right: 3px;
}

.content2comment p {
    margin-bottom: 5px;
    margin-top: 25px;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}

.content2bigman {
    margin-right: 5px;
    margin-bottom: -6px;
}

.content2yourcomment {
    margin-left: 10px;
}

.content2yourcomment .button {
    margin-bottom: 50px;
}

/*__________________________________________________________________________________________CONTENT2_END*/
/*___________________________________________________________________________CONTENT3_BEGIN*/
.content3 {
    float: left;
    margin-bottom: 20px;
}

.content3 h1 {
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.content3tags {
    margin-left: 15px;
    height: 50px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    width: 850px;
    background: #E1FFA6;
}

.content3tags a {
    color: #333333;
}

.content3tags li {
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 2px;
}

img.content3tags {
    padding-right: 15px;
    padding-top: 10px;
    float: left;
    width: 28px;
    height: 28px;
}

.podline {
    margin-left: 20px;
    margin-top: 40px;
    float: left;
    height: 100%;
    background: url(../icons/line.png) repeat-y;
}

.content3baseblock {
    width: 1100px;
}

.content3leftpart {
    float: left;
    width: 90px;
    margin-top: 75px;
}

.content3leftpart span {
    margin-right: 10px;
    color: #666;
}

.content3subblock {
    margin-top: 80px;
    margin-left: 20px;
    height: 200px;
    width: 980px;
    float: left;
}

.content3baseblock:first-child .content3subblock {
    margin-top: 0;
}

.content3baseblock:first-child .content3leftpart {
    margin-top: -5px;
}

.content3subblock h3 {
    margin-bottom: 20px;
    color: black;
}

.content3subblock img {
    width: 21px;
    height: 21px;
    margin-top: 10px;
    margin-right: 10px;
    position: relative;
    top: 5px;
}

.content3calendar {
    margin-left: 760px;
}

.content3linepages {
    margin: 50px 29% 20px;
    width: 500px;
}

.content3linepages a {
    padding: 0;
}

.content3linepagestags {
    background: url(../icons/linepagestags.png) no-repeat;
    padding-bottom: 20px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.content3linepages img {
    float: left;
    cursor: pointer;
}

/*___________________________________________________________________________CONTENT3_END*/
/*__________________________________________________________________________________________________CONTENT4_BEGIN*/
.content4 {
    margin-left: 10px;
    width: 1100px;
}

.content4theme a {
    font-size: 36px;
    font-weight: bold;
    font-family: inherit;
}

.content4thememenu {
    margin-top: 10px;
    margin-left: 40px;
    font-size: 24px;
    display: inline;
}

.content4thememenu span {
    margin-right: 20px;
    margin-left: 20px;
}

.content4textblock {
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 800px;
}

.content4baseblock{
    width:1200px;
}

.content4baseblocktable{margin:auto;}
.content4baseblocktable tr{
    border-bottom:1px solid #e6e6e6;
}

.blocktabletdleft{
    border-right: 1px solid #e6e6e6;
}
.blocktabletdright{
    border-left: 1px solid #e6e6e6;
}

.content4subblock{
    width:400px;
    float:left;
    margin-left:100px;
    margin-right:100px;
    margin-top:40px;
    margin-bottom:40px;
}

.blocktabletdright div{margin-right:-40px;}
.blocktabletdleft div{margin-left:-40px;}
tr.content4tablefooter{border-bottom:none;}
.content4subblock img{
    margin-top:10px;
    width:406px;
    height:83px;
}
.content4subblock p{
    margin-top:10px;
}

.content4bottom {
    width: 950px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 180px;
}

.content4bottomdiv {
    float: left;
    margin-right: 80px;
    margin-top: 10px;
}

.content4bottomdiv div {
    margin-bottom: 10px;
}

/*__________________________________________________________________________________________________CONTENT4_END*/

/*__________________________________________________________________________________________________CONTENT5_BEGIN*/
.content5 {
    float: left;
    margin-left: 10px;
    width: 1100px;
}

.content5title {
    margin-top: 30px;
}

.content5bottom {
    width: 950px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.content5bottomdiv {
    float: left;
    margin-right: 80px;
    margin-top: 10px;
}

.content5bottomdiv div {
    margin-bottom: 10px;
}

.content5banner {
    float: left;
    width: 1160px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background: #666666;
}

.content5bannertop {
    margin-left: 10px;
    width: 1160px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #E1FFA6;
}

.content5bannertop a {
    color: #E1FFA6 !important;
}

.content5bannertop span {
    margin-right: 20px;
    margin-left: 20px;
}

.content5bannertheme a {
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 65px;
    font-size: 72px;
    font-weight: bold;
    float: left;
    width: 415px;
    cursor: pointer;
}

.content5bannermenu {
    margin-top: 63px;
    font-size: 24px;
    float: left;
    width: 615px;
}

.content5bannermenu a {
    color: #E1FFA6;
}

.content5bannertextblok {
    color: #FFFFFF;
    float: left;
    margin-top: 30px;
    margin-left: 70px;
    margin-bottom: 30px;
    width: 780px;
}

.content5linepages {
    padding-bottom: 60px;
    padding-top: 110px;
    margin: auto;
    width: 500px;
}

.content5linepages a {
    margin-left: 20px;
    margin-right: 10px;
    padding: 0px;
}

.content5linepagestags {
    background: url(../icons/linepagestags.png) no-repeat;
    padding-bottom: 20px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.content5linepages img {
    float: left;
}

/*__________________________________________________________________________________________________CONTENT5_END*/

/*__________________________________________________________________________________________________CONTENT6_BEGIN*/

.content6 {
    float: left;
    margin-left: 10px;
    margin-bottom: 80px;
    width: 1100px;
}

.content6reg {
    width: 900px;
    margin-top: 40px;
}

.content6reg a {
    font-size: 20px;
    font-weight: 100;
    padding-left: 30px;
}

.content6img {
    margin-top: 60px;
    margin-bottom: 240px;

}

.content6img img {
    width: 128px;
    height: 128px;
    float: left;
}

.content6buttonfoto {
    margin-left: 180px;
}

.content6form {
    margin-left: 5px;
    margin-top: 140px;
    margin-bottom: 50px;
}

.content6login, .content6pass, .content6interes {
    margin-bottom: 30px;
}

.content6baseblok {
    width: 140px;
    float: left;
}

/*__________________________________________________________________________________________________CONTENT6_END*/

/*__________________________________________________________________________________________________CONTENT7_BEGIN*/
.content7 {
    width: 1200px;
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
}

.content7topmarks1, .content7topmarks2 {
    margin-left: 10px;
    float: left;
    width: 450px;
}

.content7topmarks3 {
    margin-left: 30px;
    width: 150px;
    float: left;
}

.content7top2 {
    margin-top: 40px;
}

.content7top2 div {
    float: left;
}

.content7top2 a {
    color: #333333;
}

.content7top2 ul {
    margin-top: 7px;
}

.content7top2 li {
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 2px;
}

div.content7top2tags {
    height: 50px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    width: 420px;
    margin-right: 25px;
    margin-left: 10px;
    margin-bottom: 20px;
    background: #E1FFA6;
}

.content7top2tags img {
    /*margin-top:10px;*/
    padding: 10px;
    float: left;
    width: 28px;
    height: 28px;
}

.content7top2tagsmarks {
    margin-left: 40px;
    width: 240px;
    background: #E1FFA6;
    height: 50px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.content7top2tagsmarks img {
    padding: 10px;
    float: left;
    width: 28px;
    height: 28px;
}

.content7articles {
    margin-bottom: 40px;
    margin-left: 20px;
    float: left;
}

.content7basepart {
    margin-right: 50px;
    float: left;
    width: 405px;
}

.content7articles p {
    margin-top: 10px;
    margin-bottom: 10px;
    /*width:370px;*/
}

.content7articles img {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.content7partaddl {
    background: #F8FFEB;
    margin-left: 20px;
    width: 240px;
    float: left;
}

.content7partaddl img {
    height: 89px;
    width: 89px;
}

/*__________________________________________________________________________________________________CONTENT7_END*/

/*_____________________________________FOOTER_BEGIN*/

div.footer {
    padding-top: 15px;
    padding-left: 15px;
    background: #E6E6E6;
    clear: left;
    height: 170px;
}

div.footerlinks {
    margin-left: -20px;
}

.footerlinks a {
    color: #333333;
    margin-right: 25px;
    margin-left: 20px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

.footersocnet {
    float: right;
    margin-right: 15px;
}

.footersocnetdiv {
    float: right;
    margin-right: 15px
}

.footersocnetdiv img {
    padding-top: 15px;
    height: 30px;
    width: 30px;
}

.footerallright {
    margin-top: 60px;
}

.footerallrightavcom {
    width: 100px;
    float: left;
    /*margin-top:5px;*/
}

.footerallrightlogo {
    font-size: 36px;
    font-weight: bold;
    color: #98CC31;
}

.footerallrighttext {
    width: 470px;
    float: left;
    margin-left: 150px;
    margin-top: 10px;
    font-size: 12px;
    color: #666;
}

.footerallrightsearch {
    float: right;
    margin-right: 18px;
    margin-top: 10px;
    width: 275px;
}

.footerallrightsearch input {
    width: 100%;
}

/*_____________________________________FOOTER_END*/

.subscription {
    width: 100%;
    margin-top: 20px;
}

.subscription input {
    width: 93%;
}

.content2answer {
    float: left;
    margin-top: 10px;
}

textarea {
    clear: both;
    overflow: hidden;
}

.post {
    margin-top: 10px;
    margin-left: 10px;
}

.logodiv {
    padding: 5px 0 10px;
}

.menu_up {
    position: relative;
    bottom: 3px;
}

.bannertop > table {
    width: 100%;
}

.banner_content {
    padding: 10px 20px 20px;
}

/**************************************************     VIDGET ******************/

.content3linepages {
    padding: 15px 0 20px;
    text-align: center;
    clear: both;
    float: left;
}

.content3linepages > * {
    margin: 0px 4px;
    vertical-align: middle;
    display: inline-block;

    zoom: 1;
    *display: inline;
}

.content3linepages .arr-prev, .content3linepages .arr-next {
    background: url(../icons/arrowgreen.png) no-repeat 0px 0px;
    width: 13px;
    height: 20px;
}

.content3linepages .arr-next {
    background-position: 0 -20px;
    margin-left: 20px;
    margin-right: 10px;
}

.content3linepages .arr-prev {
    margin-left: 10px;
    margin-right: 20px;
}

.content3linepages ul {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid #8A8A8A;
    padding-left: 0px !important;
}

.content3linepages ul li {
    border-left: 1px solid #8A8A8A;
    border-right: 1px solid #8A8A8A;
    float: left;
    margin: 0px 0px 0px -1px;
    padding: 0px;
    width: 29px;
    list-style-type: none !important;
}

* + html
.pagination ul li {
    border: none;
}

.content3linepages ul li span {
    background: none repeat scroll 0% 0% #FFF;
    display: block;
    float: left;
    margin: 0px -1px 3px;
    width: 31px;
}

.content3linepages ul li span a {
    border-bottom: 3px solid #FFF;
    color: #3C3C3C;
    float: left;
    height: 21px;
    line-height: 15px;
    font-size: 15px;
    margin: 0px 1px -3px;
    text-align: center;
    text-decoration: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    width: 29px;
}

.content3linepages ul li span a:hover, .content3linepages ul li.active span a {
    border-bottom: 3px solid #98CC31;
}

/**************************************************     VIDGET *****************	*/
